/** {
  font-family: Arial, Helvetica, sans-serif;
} */

@font-face {
  font-family: "IntroBlackRegular";
  src:
      url('IntroBlackRegular.otf');
   /*   format('opentype');*/
  /* font-weight: normal; */
  /* font-style: normal; */
}

html, body {
  font-family: "IntroBlackRegular";
  margin: 0;
  border: 0;
  padding: 0;
  background-color: rgb(206, 233, 201);
  width: 100%;
}

main {
  margin: auto;
  width: 80%;
  padding: 50px;
}

h1 {
  color: rgb(40, 40, 40);
  text-align: center;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

ul {
  list-style-type: none;
  height: auto;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: transparent solid; 
  overflow: hidden;
  background-color: rgb(40, 40, 40);
}

li {
  float: left;
}

li a {
  display: inline;
  background-color: rgb(40, 40, 40);
  color: rgb(206, 233, 201);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:rgb(206, 233, 201);
  border-color: rgb(206, 233, 201);
  -webkit-text-fill-color: rgb(40, 40, 40);
  overflow: hidden;
}

p {
  text-align: center;
  text-decoration: dashed;
  }

.p1 {
  text-align: center;
  text-decoration: dashed;
  color: rgb(206, 233, 201);
}

a {
  text-align: center;
  color: rgb(40, 40, 40);
}

.paragraf {
  text-align: center;
  background-color: rgb(206, 233, 201);
  }

.login {
  text-align: center;
  border: 1cap;
  position: center;
  color: rgb(206, 233, 201);
}


img {
  position: center;
  width: 10px;
  height: 10px;
}

footer {
  position: relative;
  border-radius: 10px;
  border: transparent thick;
  /*padding: 10px 10px 0px 10px;*/
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  /*height: 1em;*/
  background: rgb(40, 40, 40);
}

button {   
  background-color: #cee9c9;   
  width: 20%;  
   color: rgb(40, 40, 40);   
   padding: 10px;   
   margin: 10px 0px;   
   border: whitesmoke solid;   
   cursor: pointer;   
    }   

form {   
   border: 3px solid #f1f1f1;
   display: block;
  }   

input[type=text], input[type=password] {   
   width: 20%;   
   margin: 8px 0;  
   padding: 12px 20px;   
   display: inline-block;   
   border: 2px solid whitesmoke;   
   box-sizing: border-box;   
}  

button:hover {   
   opacity: 0.7;   
}   

.cancelbtn {   
   width: 20%;   
   padding: 10px 18px;  
   margin: 10px 5px;  
}   

   .container {   
   padding: 50px;   
   background-color: rgb(206, 233, 201);
   width: 80%;  
}   

/* Form Wrapper Styles */
.formWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 200px);
  padding: 40px 20px;
  overflow: hidden;
}

.formWrapper form {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 450px;
  border: none;
}

.formWrapper h1 {
  margin-bottom: 30px;
  color: rgb(40, 40, 40);
  font-size: 2.5em;
}

.inputblock {
  margin-bottom: 20px;
  width: 100%;
}

.inputblock label {
  display: block;
  margin-bottom: 8px;
  color: rgb(40, 40, 40);
  font-weight: bold;
  font-size: 0.9em;
}

.inputblock input[type="text"],
.inputblock input[type="email"],
.inputblock input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin: 0;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1em;
  transition: border-color 0.3s;
}

.inputblock input[type="text"]:focus,
.inputblock input[type="email"]:focus,
.inputblock input[type="password"]:focus {
  outline: none;
  border-color: rgb(206, 233, 201);
}

.btn {
  background-color: rgb(40, 40, 40);
  color: rgb(206, 233, 201);
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  margin-top: 10px;
}

.btn:hover {
  background-color: rgb(60, 60, 60);
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(0);
}

.errcontainer,
.errorcontainer {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffebee;
  color: #c62828;
  display: none;
}

.errcontainer.show,
.errorcontainer.show {
  display: block;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  pointer-events: none;
}

.wave:first-of-type {
  bottom: -50px;
  opacity: 0.7;
}

.wave:last-of-type {
  bottom: -100px;
  opacity: 0.5;
}